<h2>{{title}}</h2>

<p class="error-message">{{errorMessage}}</p>

<form action="" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" {{#with errors.name}}class="error"{{/with}} value="{{movie.title}}">
    <label for="genre">Genre</label>
    <input id="genre" type="text" name="genre" {{#with errors.genre}}class="error"{{/with}} value="{{movie.genre}}">
    <label for="plot">Plot</label>
    <input id="plot" type="text" name="plot" {{#with errors.plot}}class="error"{{/with}} value="{{movie.plot}}">
    <label for="cast">Catch Phrase</label>
    <select name="cast" id="cast" {{#with errors.cast}}class="error"{{/with}} multiple>
        {{#each cast}}
            <option {{#if selected}}selected{{/if}} value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    {{#if update }}
        <input type="submit" Value="Update Movie">
    {{else}}
        <input type="submit" Value="Create Movie">
    {{/if}}
</form>